<!doctype html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv='X-UA-Compatible' content='IE=edge;chrome=1' />
    <title>netosober's blog<%= ' - ' + current_article.title unless current_article.nil? %></title>
    <%= feed_tag :atom, "#{blog.options.prefix.to_s}/feed.xml", title: "Atom Feed" %>
    <%= stylesheet_link_tag "all" %>
    <link href='http://fonts.googleapis.com/css?family=Abel|Istok+Web|Josefin+Slab|Maven+Pro' rel='stylesheet' type='text/css'>
  </head>
  <body>
    <div id="header" role="header">  
      <div>
        <%= partial "partials/nav" %>
      </div>
    </div>
    <div id="main" role="main"> 
      <div>
        <%= yield %>
      </div>
    </div>
    <div id="footer" role="footer">  
      <div>
        <%= partial "partials/footer" %>
      </div>
    </div>
  </body>
</html>
